.App {
    margin-top: 1%;
}

.app-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px 20px;
}

.movie-block {
    position: relative;
    background-color: #0F3460;
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
}

.movie {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.movie img {
    max-width: 100%;
    height: auto;
    }

.movie-info {
    margin: 10%;
    color: white;
    font-size: small;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#movie-title{
    display: flex;
    align-items: center;
}

#movie-vote-average{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.movie-detail {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: small;
    opacity: 0;
}

.movie-detail:hover {
    opacity: 1;
}

.movie-detail #movie-title {
    font-weight: bold;
}

.movie-detail span {
    display: block;
    margin: 15% 10% 15% 10%;
    overflow: hidden; /* 텍스트 오버플로우 숨김 */
    text-overflow: ellipsis; /* 텍스트가 오버플로우 될 때 ...으로 표시 */
}